.work1{
    background-color: black;
    color: #808080;
    font-weight:600;
   
}
.work2{
    background-color: black;
    color:#FFFFFF ;
    height: 200px;
}
#my{
    border-bottom:2px solid white;
}
.work3{
    text-align: center;
    background-color: #303030;
    color:#FFFFFF ;
    height: 175px;
}
#a{
    background-color: #3371E3;
    color:#FFFFFF ;
    border-radius: 7px;
}
.work4{
    margin-top: 70px;
}
#c{margin-top: 30px;}
.work5{
    margin-top: 90px;
}
.work6{
    margin-top:90px ;
}
.work7{
    margin-top: 100px;
    margin-bottom: 30px;
}
.work8{
    color:#FFFFFF ;
}
#d{
    color: #3371E3;
    border-radius: 10px;
}
.a{
    background-color:#333333 ;
    border: 2px solid white;
}
.b{
    background-color:#333333 ;
    border: 2px solid white;
}
.c{
    background-color: #F7F7F7;
}
.work9{
    margin-left: 650px;
    margin-top: 30px;
   
}
.work10{
    margin-top: 20px;
    
}
.work11{
    margin-top: 20px;
  
}
.work12{
    margin-top: 10px;
    
}
.work13{
    margin-top: 10px;
   ;
}
.work14{
    margin-top: 10px; 
    
}
.work15{
    margin-top: 10px;
    
}
.d{
   background-color: white;
}
.work16{
    margin-top: 50px;
}
.work17{
    margin-top: 30px;
}
.work20{
    margin-top: 100px;
    margin-bottom: 100px;
}
.work22{
    margin-bottom: 50px;
}
.work24{
    margin-top: 50px;
    margin-left: 180px;
    color: #777777;
}
.work25{
    background-color: #303030;
    margin-top: 130px;
font-size: 20px;
color: #FFFFFF;
height: 50px;
}
.work26{
    height: 200px;
    background-color: #303030;
    color: #FFFFFF;
    
}
#you2{
    font-size: 10px;
    text-align: center;
}
#you1{
    size: 40px;
}
#you3{
    size: 40px;
}